@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Serif&display=swap');

body {
  margin: 0 auto;
  font-size: 24px;
  background-color: #000000;
}

.leinwand {
  /* border: 1px solid rgb(76, 0, 255); */
}

.svgcontainer {
  display: flex;
  justify-content: center;
  /* border: 1px solid green; */
  padding: 70px;
}

#menu a {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  font-family: 'PT Serif', serif;
  color: antiquewhite;
  text-decoration: none;
}

#wrapper {
  margin: auto;
  width: fit-content;
  padding-top: 20px;
  padding-bottom: 150px;
  /* border: 1px solid yellow; */
}

#zeitperiode {
  font-size: 1.5rem;
  margin: auto;
  width: fit-content;
  font-family: 'PT Serif', serif;
  color: antiquewhite;
  /* border: 1px solid rgb(0, 17, 255); */
}
#stationslabel {
  font-size: 1rem;
  display: inline-block;
  justify-content: center;
  font-family: 'PT Serif', serif;
  color: antiquewhite;
  /* border: 1px solid red; */
}
#datumslabel {
  font-size: 1rem;
  /* vertical-align:top; */
  display: inline-block;
  justify-content: center;
  font-family: 'PT Serif', serif;
  color: antiquewhite;
  /* border: 1px solid green; */
}
#about {
  font-size: 1rem;
  margin: auto;
  width: fit-content;
  font-family: 'PT Serif', serif;
  color: antiquewhite;
  text-decoration: none;
  padding-top: 40px;
  /* border: 1px solid red; */
}

#about a {
  font-size: 1rem;
  font-family: 'PT Serif', serif;
  color: antiquewhite;
  text-decoration: none;
  /* border: 1px solid red; */
}

